# Upstream API Basic Authentication Token
# Format: Base64 encoded "username:password"
# Contoh: "admin:gugun09" -> "YWRtaW46Z3VndW4wOQ=="
# 
# Untuk generate token:
# echo -n "username:password" | base64
#
UPSTREAM_AUTH_TOKEN=YWRtaW46Z3VndW4wOQ==
